*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    background-color: black;
    color: white;
}
p{
    font-size: 14px;
}
.container{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
input{
    height: 14px;
}
h1{
    text-align: center;
}
.name-container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    padding: 0 10px;
}
.pass-container{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 10px;
}
.name-container p{
    margin-right: 35px;
}
.pass-container p{
    margin-right: 15px;
}
.submit-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.submit{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}
.submit:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(246, 255, 0,0.8);
    -moz-box-shadow:    0px 0px 30px 0px rgba(246, 255, 0,0.8);
    box-shadow:         0px 0px 30px 0px rgba(246, 255, 0,0.8);
}
@media screen and (min-width: 992px) {
    .name-container, .pass-container{
        justify-content: center;
    }
}